In [86]:
import pandas as pd
import numpy as np
import os
import forzawrapper

<h1>Gruppspel</h1>

In [87]:
def get_sign(score):
    if type(score) != str:
        return None
    h, a = int(score[0]), int(score[2])
    if h == a:
        return "X"
    elif h > a:
        return "1"
    else:
        return "2"

files = ["sheets/"+f for f in os.listdir("sheets")]

names = []
preds = []
for f in files:
    names.append('-'.join(f.split("-")[2:]).split(".")[0])
    tmp = pd.read_excel(f)
    preds.append(tmp[tmp.columns[5]][11:59].values.astype(str))

forza_df = forzawrapper.get_scores().iloc[:len(preds[0])].drop("Kickoff", axis=1)

pred_df = pd.DataFrame(np.array(preds).T, columns=names)
df = pd.concat([pred_df, forza_df], axis=1)
df["Correct"] = df["Score"].apply(lambda x: get_sign(x))
df["Correct Predictions"] = df.apply(lambda x: sum([int(v == x["Correct"]) for v in x[df.columns[:4]]]), axis=1)
df["Points Given"] = 0.5*(1+(len(files)*2-df["Correct Predictions"]))*df["Correct Predictions"].astype(bool)
df

,Irannejad-Armin,Filip,Martin-Hunhammar,Sellberg,Teams,Score,Correct,Correct Predictions,Points Given
0,2,2,X,2,Qatar vs Ecuador,0-2,2,3,3.0
1,X,1,1,1,England vs Iran,6-2,1,3,3.0
2,2,2,2,2,Senegal vs Netherlands,0-2,2,4,2.5
3,1,X,2,2,USA vs Wales,1-1,X,1,4.0
4,1,1,1,1,Argentina vs Saudi Arabia,1-2,2,0,0.0
5,1,1,1,1,Denmark vs Tunisia,0-0,X,0,0.0
6,1,2,X,2,Mexico vs Poland,0-0,X,1,4.0
7,1,1,1,1,France vs Australia,4-1,1,4,2.5
8,2,1,2,2,Morocco vs Croatia,0-0,X,0,0.0
9,1,1,1,1,Germany vs Japan,1-2,2,0,0.0
10,1,1,1,1,Spain vs Costa Rica,7-0,1,4,2.5
11,1,1,1,1,Belgium vs Canada,1-0,1,4,2.5
12,2,X,1,X,Switzerland vs Cameroon,1-0,1,1,4.0
13,1,1,X,1,Uruguay vs Korea Republic,0-0,X,1,4.0
14,X,1,1,1,Portugal vs Ghana,3-2,1,3,3.0
15,1,1,1,1,Brazil vs Serbia,2-0,1,4,2.5
16,2,1,1,X,Wales vs Iran,0-2,2,1,4.0
17,2,2,2,2,Qatar vs Senegal,1-3,2,4,2.5
18,1,1,1,1,Netherlands vs Ecuador,1-1,X,0,0.0
19,1,1,1,1,England vs USA,0-0,X,0,0.0
20,1,1,X,X,Tunisia vs Australia,0-1,2,0,0.0
21,X,1,1,1,Poland vs Saudi Arabia,2-0,1,3,3.0
22,X,X,X,1,France vs Denmark,2-1,1,1,4.0
23,1,1,1,1,Argentina vs Mexico,2-0,1,4,2.5
24,1,1,2,X,Japan vs Costa Rica,0-1,2,1,4.0
25,1,X,1,1,Belgium vs Morocco,None,None,0,0.0
26,1,1,1,1,Croatia vs Canada,None,None,0,0.0
27,2,1,2,X,Spain vs Germany,None,None,0,0.0
28,X,2,2,2,Cameroon vs Serbia,None,None,0,0.0
29,X,2,1,X,Korea Republic vs Ghana,None,None,0,0.0
30,1,1,1,1,Brazil vs Switzerland,None,None,0,0.0
31,X,X,2,1,Portugal vs Uruguay,None,None,0,0.0
32,1,1,1,1,Netherlands vs Qatar,None,None,0,0.0
33,2,2,2,X,Ecuador vs Senegal,None,None,0,0.0
34,X,2,2,2,Iran vs USA,None,None,0,0.0
35,1,2,2,X,Wales vs England,None,None,0,0.0
36,2,2,2,2,Tunisia vs France,None,None,0,0.0
37,2,2,2,2,Australia vs Denmark,None,None,0,0.0
38,2,2,2,X,Saudi Arabia vs Mexico,None,None,0,0.0
39,2,2,2,2,Poland vs Argentina,None,None,0,0.0
40,2,2,X,X,Croatia vs Belgium,None,None,0,0.0
41,X,2,X,X,Canada vs Morocco,None,None,0,0.0
42,2,2,2,2,Costa Rica vs Germany,None,None,0,0.0
43,2,2,2,2,Japan vs Spain,None,None,0,0.0
44,2,2,2,2,Ghana vs Uruguay,None,None,0,0.0
45,X,2,2,2,Korea Republic vs Portugal,None,None,0,0.0
46,2,2,2,2,Serbia vs Switzerland,None,None,0,0.0
47,1,1,1,1,Cameroon vs Brazil,None,None,0,0.0

In [91]:
print("Antal gruppspelspoäng efter", (~df['Correct'].isna()).sum(), "matcher")
names = []
scores = []
percent = []
points = []
for c in df.columns[:4]:
    names.append(c)
    scores.append((df[c] == df['Correct']).sum())
    percent.append(str(((df[c] == df['Correct']).sum()/(~df['Correct'].isna()).sum())*100)+"%")
    points.append(((df[c] == df['Correct']).astype(int)*df["Points Given"]).sum())
    
table = pd.DataFrame([names, points, scores, percent]).T
table.columns = ["Namn", "Poäng", "Antal Rätt", "Procent"]
table.sort_values("Poäng", ascending=False).reset_index(drop=True)

Antal gruppspelspoäng efter 25 matcher

               Namn Poäng Antal Rätt             Procent
0  Martin-Hunhammar  42.5         14  56.00000000000001%
1             Filip  33.5         12               48.0%
2          Sellberg  33.5         12               48.0%
3   Irannejad-Armin  24.5          9               36.0%

<h1>Slutspel</h1>

In [92]:
country_map = {x[1]:x[0] for x in pd.read_html("https://svenskaengelska.se/lander.html")[0].values}
qual_preds = []
for f in files:
    tmp = pd.read_excel(f)
    qual_preds.append([t.split(" ")[0] for t in tmp[tmp.columns[5]][61:77].values])
qual_df = pd.DataFrame(qual_preds).T
qual_df.columns = names
qual_df["Correct"] = forzawrapper.get_qualifying()
qual_df["Correct"] = qual_df["Correct"].apply(lambda x: country_map[x] if x in country_map.keys() else x)
qual_df["Correct Predictions"] = qual_df["Correct"].apply(lambda x: sum([int(x in qual_df[c].values) for c in qual_df.columns[:-1]]))
qual_df["Points Given"] = 0.5*(1+(len(files)*2-qual_df["Correct Predictions"]))*qual_df["Correct Predictions"].astype(bool)
qual_df

,Irannejad-Armin,Filip,Martin-Hunhammar,Sellberg,Correct,Correct Predictions,Points Given
0,Nederländerna,Nederländerna,Nederländerna,Nederländerna,Nederländerna,4,2.5
1,Senegal,Senegal,Senegal,Ecuador,Ecuador,1,4.0
2,England,England,England,England,England,4,2.5
3,Iran,Wales,Wales,Wales,Iran,1,4.0
4,Argentina,Argentina,Argentina,Argentina,Polen,3,3.0
5,Mexiko,Polen,Polen,Polen,Argentina,4,2.5
6,Frankrike,Danmark,Frankrike,Frankrike,Frankrike,4,2.5
7,Danmark,Frankrike,Danmark,Danmark,Australien,0,0.0
8,Tyskland,Spanien,Tyskland,Spanien,Spanien,4,2.5
9,Spanien,Tyskland,Spanien,Tyskland,Japan,0,0.0
10,Kroatien,Belgien,Belgien,Belgien,Belgien,4,2.5
11,Belgien,Marocko,Kroatien,Kroatien,Kroatien,3,3.0
12,Brasilien,Brasilien,Brasilien,Brasilien,Brasilien,4,2.5
13,Schweiz,Serbien,Serbien,Serbien,Schweiz,1,4.0
14,Portugal,Uruguay,Uruguay,Portugal,Portugal,4,2.5
15,Uruguay,Portugal,Portugal,Uruguay,Korea Republic,0,0.0

In [93]:
print("Antal poäng från lag kvalificerade till slutspel, utifrån gruppställning efter", (~df['Correct'].isna()).sum(), "matcher")

qual_score_df = pd.DataFrame(list(qual_df.apply(lambda x: [x["Points Given"]*int(x["Correct"] in qual_df[c].values) for c in qual_df.columns[:4]], axis=1).values), columns=qual_df.columns[:4]).sum().to_frame()
qual_score_df.columns = ["Poäng"]
qual_score_df["Antal Rätt"] = pd.DataFrame(list(qual_df.apply(lambda x: [int(x["Correct"] in qual_df[c].values) for c in qual_df.columns[:4]], axis=1).values), columns=qual_df.columns[:4]).sum()
qual_score_df.sort_values("Poäng", ascending=False)

Antal poäng från lag kvalificerade till slutspel, utifrån gruppställning efter 25 matcher

                  Poäng  Antal Rätt
Irannejad-Armin    31.0          11
Sellberg           30.0          11
Martin-Hunhammar   26.0          10
Filip              23.0           9