In [31]:
import pandas as pd
import numpy as np
import os

In [32]:
def get_sign(score):
    if type(score) != str:
        return None
    h, a = int(score[0]), int(score[2])
    if h == a:
        return "X"
    elif h > a:
        return "1"
    else:
        return "2"

files = [f for f in os.listdir() if 'ipynb' not in f]

names = []
preds = []
for f in files:
    names.append('-'.join(f.split("-")[2:]).split(".")[0])
    tmp = pd.read_excel(f)
    preds.append(tmp[tmp.columns[5]][11:59].values.astype(str))

score_df = pd.read_html("https://fbref.com/en/comps/1/schedule/World-Cup-Scores-and-Fixtures")[0]
scores = score_df[~score_df.Time.isna()]['Score'].values

df = pd.DataFrame(np.array(preds).T, columns=names)
df["Score"] = scores
df["Correct"] = df["Score"].apply(lambda x: get_sign(x))
df

   Irannejad-Armin Filip Martin-Hunhammar Sellberg Score Correct
0                2     2                X        2   0–2       2
1                X     1                1        1   6–2       1
2                2     2                2        2   0–2       2
3                1     X                2        2   NaN    None
4                1     1                1        1   NaN    None
5                1     1                1        1   NaN    None
6                1     2                X        2   NaN    None
7                1     1                1        1   NaN    None
8                2     1                2        2   NaN    None
9                1     1                1        1   NaN    None
10               1     1                1        1   NaN    None
11               1     1                1        1   NaN    None
12               2     X                1        X   NaN    None
13               1     1                X        1   NaN    None
14               X     1                1        1   NaN    None
15               1     1                1        1   NaN    None
16               2     1                1        X   NaN    None
17               2     2                2        2   NaN    None
18               1     1                1        1   NaN    None
19               1     1                1        1   NaN    None
20               1     1                X        X   NaN    None
21               X     1                1        1   NaN    None
22               X     X                X        1   NaN    None
23               1     1                1        1   NaN    None
24               1     1                2        X   NaN    None
25               1     X                1        1   NaN    None
26               1     1                1        1   NaN    None
27               2     1                2        X   NaN    None
28               X     2                2        2   NaN    None
29               X     2                1        X   NaN    None
30               1     1                1        1   NaN    None
31               X     X                2        1   NaN    None
32               1     1                1        1   NaN    None
33               2     2                2        X   NaN    None
34               X     2                2        2   NaN    None
35               1     2                2        X   NaN    None
36               2     2                2        2   NaN    None
37               2     2                2        2   NaN    None
38               2     2                2        X   NaN    None
39               2     2                2        2   NaN    None
40               2     2                X        X   NaN    None
41               X     2                X        X   NaN    None
42               2     2                2        2   NaN    None
43               2     2                2        2   NaN    None
44               2     2                2        2   NaN    None
45               X     2                2        2   NaN    None
46               2     2                2        2   NaN    None
47               1     1                1        1   NaN    None

In [33]:
for c in df.columns[:4]:
    print(c, ", Antal rätt:", (df[c] == df['Correct']).sum())

Irannejad-Armin , Antal rätt: 2
Filip , Antal rätt: 3
Martin-Hunhammar , Antal rätt: 2
Sellberg , Antal rätt: 3