In [1]:
import pandas as pd
import numpy as np
import os

In [36]:
def get_sign(score):
    if type(score) != str:
        return None
    h, a = int(score[0]), int(score[2])
    if h == a:
        return "X"
    elif h > a:
        return "1"
    else:
        return "2"

files = ["sheets/"+f for f in os.listdir("sheets")]

names = []
preds = []
for f in files:
    names.append('-'.join(f.split("-")[2:]).split(".")[0])
    tmp = pd.read_excel(f)
    preds.append(tmp[tmp.columns[5]][11:59].values.astype(str))

scrape_df = pd.read_html("https://fbref.com/en/comps/1/schedule/World-Cup-Scores-and-Fixtures")[0]
score_df = scrape_df[~scrape_df.Home.isnull()]

df = pd.DataFrame(np.array(preds).T, columns=names)
df["Score"]= score_df['Score'].values
df["Teams"] = score_df.apply(lambda x: '-'.join(x["Home"].split(" ")[:-1]+x["Away"].split(" ")[1:]), axis=1).values
df["Correct"] = df["Score"].apply(lambda x: get_sign(x))
df

,Filip,Irannejad-Armin,Martin-Hunhammar,Sellberg,Score,Teams,Correct
0,2,2,X,2,0–2,Qatar-Ecuador,2
1,1,X,1,1,6–2,England-IR-Iran,1
2,2,2,2,2,0–2,Senegal-Netherlands,2
3,X,1,2,2,1–1,United-States-Wales,X
4,1,1,1,1,1–2,Argentina-Saudi-Arabia,2
5,1,1,1,1,0–0,Denmark-Tunisia,X
6,2,1,X,2,0–0,Mexico-Poland,X
7,1,1,1,1,4–1,France-Australia,1
8,1,2,2,2,0–0,Morocco-Croatia,X
9,1,1,1,1,1–2,Germany-Japan,2
10,1,1,1,1,7–0,Spain-Costa-Rica,1
11,1,1,1,1,1–0,Belgium-Canada,1
12,X,2,1,X,1–0,Switzerland-Cameroon,1
13,1,1,X,1,0–0,Uruguay-Korea-Republic,X
14,1,X,1,1,3–2,Portugal-Ghana,1
15,1,1,1,1,2–0,Brazil-Serbia,1
16,1,2,1,X,NaN,Wales-IR-Iran,None
17,2,2,2,2,NaN,Qatar-Senegal,None
18,1,1,1,1,NaN,Netherlands-Ecuador,None
19,1,1,1,1,NaN,England-United-States,None
20,1,1,X,X,NaN,Tunisia-Australia,None
21,1,X,1,1,NaN,Poland-Saudi-Arabia,None
22,X,X,X,1,NaN,France-Denmark,None
23,1,1,1,1,NaN,Argentina-Mexico,None
24,1,1,2,X,NaN,Japan-Costa-Rica,None
25,X,1,1,1,NaN,Belgium-Morocco,None
26,1,1,1,1,NaN,Croatia-Canada,None
27,1,2,2,X,NaN,Spain-Germany,None
28,2,X,2,2,NaN,Cameroon-Serbia,None
29,2,X,1,X,NaN,Korea-Republic-Ghana,None
30,1,1,1,1,NaN,Brazil-Switzerland,None
31,X,X,2,1,NaN,Portugal-Uruguay,None
32,1,1,1,1,NaN,Netherlands-Qatar,None
33,2,2,2,X,NaN,Ecuador-Senegal,None
34,2,X,2,2,NaN,Wales-England,None
35,2,1,2,X,NaN,IR-Iran-United-States,None
36,2,2,2,2,NaN,Tunisia-France,None
37,2,2,2,2,NaN,Australia-Denmark,None
38,2,2,2,X,NaN,Saudi-Arabia-Mexico,None
39,2,2,2,2,NaN,Poland-Argentina,None
40,2,2,X,X,NaN,Canada-Morocco,None
41,2,X,X,X,NaN,Croatia-Belgium,None
42,2,2,2,2,NaN,Japan-Spain,None
43,2,2,2,2,NaN,Costa-Rica-Germany,None
44,2,2,2,2,NaN,Korea-Republic-Portugal,None
45,2,X,2,2,NaN,Ghana-Uruguay,None
46,2,2,2,2,NaN,Serbia-Switzerland,None
47,1,1,1,1,NaN,Cameroon-Brazil,None

In [51]:
print("Antal rätt efter", (~df['Correct'].isna()).sum(), "matcher")
names = []
scores = []
percent = []
for c in df.columns[:4]:
    names.append(c)
    scores.append((df[c] == df['Correct']).sum())
    percent.append(str(((df[c] == df['Correct']).sum()/(~df['Correct'].isna()).sum())*100)+"%")
    
table = pd.DataFrame([names, scores, percent]).T
table.columns = ["Namn", "Antal Rätt", "Procent"]
table.sort_values("Antal Rätt", ascending=False).reset_index(drop=True)

Antal rätt efter 16 matcher

               Namn Antal Rätt Procent
0  Martin-Hunhammar         10   62.5%
1             Filip          9  56.25%
2          Sellberg          8   50.0%
3   Irannejad-Armin          6   37.5%